<div id="editModal" class="modal hidden">
  <div class="modal-content">
    <h2 id="editModalTitle">Edit</h2>

    <form id="editForm" method="POST">
      <input type="hidden" id="editIdInput" name="id">

<textarea
  id="editTitleInput"
  name="title"
  class="auto-grow command-input"
  placeholder="Title / Command"
  required
></textarea>

      <textarea
        id="editDescriptionInput"
        name="description"
        placeholder="Description"
      ></textarea>

      <button type="submit">
        Save Changes
      </button>
    </form>
  </div>
</div>